<!DOCTYPE html>
<html ng-app="exchange">
  <head>
    <meta charset="utf-8">
    <title>currex</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="exchange.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body ng-controller="ExchangeController as exchange">
    <form name="exchangeForm">
      <p>
        Currency from: <select required="required" ng-model="exchange.currencyFrom" ng-options="currency as currency for currency in exchange.currencies"></select>
      </p>
      <p>
        <button ng-click="exchange.swap(exchange.currencyFrom, exchange.currencyTo)">Swap currencies</button>
      </p>
      <p>
        Currency to: <select required="required" ng-model="exchange.currencyTo" ng-options="currency as currency for currency in exchange.currencies"></select>
      </p>
      <p>
        Amount: <number-only-input/>
      </p>
      <p>
        <button ng-click="exchange.doExchange(exchange.currencyFrom, exchange.currencyTo, exchange.amount)">Exchange!</button>
      </p>
      <p>{{exchange.result | currency}}</p>
    </form>
  </body>
</html>
